<nav class="navbar" [ngClass]="{'hidden': !isVisible}">
  <span class="navbar-title">{{ title }}</span>
  <div class="navbar-accent"></div>
</nav>
<div class="main">
  <div class="stopwatch">
    <div class="stopwatch-time">
      <span class="stopwatch-minutes">{{ minutes }}</span>
      <span class="stopwatch-colon">:</span>
      <span class="stopwatch-seconds">{{ seconds }}</span>
      <span class="stopwatch-dot">.</span>
      <span class="stopwatch-milis">{{ miliseconds }}</span>
    </div>
    <div class="stopwatch-buttons" [ngClass]="{'hidden': !isVisible}">
      <button class="stopwatch-start-stop" (click)="startStop()">{{ isRunning ? 'Stop' : 'Start' }}</button>
      <button class="stopwatch-reset" (click)="reset()">Reset</button>
    </div>
  </div>
  <div class="footer-text" [ngClass]="{'hidden': !isVisible}">
    Press 'spacebar' to Start/Pause
  </div>
</div>